<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Register Demo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'register\css\register_main.css' %}">
    <script src="{% static 'register\js\register_main.js' %}"></script>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form action="{% url 'register:register' %}" method="post" class="register-form">
        {% csrf_token %}
      <input name="account" type="text" placeholder="帳號"/>
      <input name="password" type="password" placeholder="密碼"/>
      <input name="email" type="email" placeholder="電子信箱"/>
      <button name="submit" type="submit">註冊</button>
      <p class="message">已有帳號?<a href="#">登入</a></p>
    </form>
  </div>
</div>
</body>
</html>